# Python Bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
venv/
env/
ENV/
.venv/

# Conda Environment
.conda/

# Jupyter Notebook
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment Variables
.env

# Python Distribution
build/
dist/
*.egg-info/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db
desktop.ini

# Temporary Files
*.tmp
*.temp